* {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 40px;
}
body {
    background: linear-gradient(to right, rgb(117, 117, 240), purple);
}
button {
    padding: 10px 10px;
    /*add space between both buttons*/
    margin: 6px;
    color: white;
    border: none;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow: -1px 10px 201px 17px rgba(128,113,113,0.75);
}
input[type=text] {
    width: 50%;
    height: 30px;
    outline: 2px solid red;
    font-size: bold;
    font-size: 20px;
    box-shadow: -1px 10px 201px 17px rgba(128,113,113,0.75);
}
#btn-1 {
    background-color: blue;
}
#btn-2 {
    background-color: red;
}